[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
django = "*"
djangorestframework = "*"
requests = "*"
django-cors-headers = "*"

[dev-packages]
pytest = "*"
pytest-spec = "*"
pytest-cov = "*"
"flake8" = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
